<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bundle.css" />
</head>

<body>
  <h1 class="site-h1">NCCO bin</h1>
  <h2>bin ID <a href="<%=binUrl%>"><span class="bin-id"><%=bin.id%></span></a>
  </h2>
  <p>To test your NCCO call <i><%=nccoBinPhoneNumber%></i> and input your NCCO bin ID of <i><%-bin.id%></i>.</p>
  <p>To use the NCCO set your Nexmo Voice Application <code>answer_url</code> to <code><%=binUrl%></code>.<p>
  
  <textarea id="editor"><%-bin.ncco%></textarea>
  <div id="bin_status"></div>

  <script src="/js/app.min.js"></script>
</body>
</html>